@keyframes water {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-144.635vw);
  }
}
@keyframes water-tablet {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2777px);
  }
}
@keyframes water-mobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-366.563vw);
  }
}
* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  .wrapper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .smoke1 {
      position: absolute;
      width: 54.844vw;
      height: 26.51vw;
      left: 0px;
      top: 14.219vw;
      background: #1049ab;
      filter: blur(150px);
      border-radius: 50%;
    }
    .smoke2 {
      position: absolute;
      width: 27.552vw;
      height: 8.802vw;
      left: 14.896vw;
      top: 35.104vw;
      background: #1049ab;
      filter: blur(150px);
      border-radius: 50%;
    }
    .smoke3 {
      position: absolute;
      width: 22.917vw;
      height: 11.042vw;
      right: 13.542vw;
      top: 5.833vw;
      border-radius: 50%;
      background: #1049ab;
      filter: blur(150px);
    }
    .smoke4 {
      left: 0;
      bottom: -5.677vw;
      position: absolute;
      width: 100vw;
      height: 16.042vw;
      background: linear-gradient(180deg, rgba(10, 11, 96, 0) 0%, #0a0b60 100%);
    }
    .water {
      position: absolute;
      bottom: -13.385vw;
      left: 0;
      background-image: url(../img/water.webp);
      background-repeat: repeat-x;
      background-position: top;
      background-size: 144.635vw 24.583vw;
      width: 289.27vw;
      height: 24.583vw;
      animation: 20s water linear infinite;
    }
    .header__logo {
      position: absolute;
      left: 2.604vw;
      top: 2.3vw;
      display: flex;
      align-items: center;
      gap: 0.495vw;
      img {
        width: 11.25vw;
      }
    }
    .title {
      position: absolute;
      left: 13.542vw;
      top: 21.615vw;
      width: 40.885vw;
      display: flex;
      flex-direction: column;
      gap: 2.9vw;
      h1 {
        font-family: "Wild World";
        font-style: normal;
        font-weight: 500;
        font-size: 2.188vw;
        line-height: 2.708vw;
        color: #ffffff;
        span {
          color: #ff4cbd;
          br {
            display: none;
          }
        }
      }
      h2 {
        padding: 0 0 0 4.125vw;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 500;
        font-size: 1.667vw;
        line-height: 2.188vw;
        color: #ffffff;
        width: 31vw;
        a {
          border-radius: 0.321vw;
          text-decoration: none;
          color: #ff4cbd;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 8.073vw;
          height: 1.875vw;
          border: 0.04vw solid rgba(255, 77, 190, 0.5);
          transition: 0.3s;
          span {
            color: #ff4cbd;
            margin: 0 0 0.208vw 0;
          }
          &:hover {
            transition: 0.3s;
            border: 0.04vw solid #ff4cbd;
          }
        }
      }
    }
    .population {
      position: absolute;
      right: 13.542vw;
      top: 6.875vw;
      .population__top-block {
        display: flex;
        gap: 0.9vw;
        strong {
          margin: 0.35vw 0 0 0;
          font-family: "Wild World";
          font-style: normal;
          font-weight: 500;
          font-size: 3.333vw;
          line-height: 3.75vw;
          color: #ffffff;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 6.198vw;
          height: 2.708vw;
          border-width: 0 0.052vw;
          border-style: solid;
          border-color: #ff4cbd;
          border-radius: 0.417vw;
          font-family: "Oswald";
          font-style: normal;
          font-weight: 300;
          font-size: 1.25vw;
          line-height: 1.875vw;
          color: #ffffff;
        }
      }
      .population__bottom-block {
        margin: 1.5vw 0 0 0;
        width: 21vw;
        span {
          font-family: "Oswald";
          font-style: normal;
          font-weight: 300;
          font-size: 1.25vw;
          line-height: 1.875vw;
          color: #ffffff;
        }
      }
    }
    .form {
      position: absolute;
      top: 23.4vw;
      right: 17.69vw;
      width: 19.427vw;
      height: 13.854vw;
      background-image: url(../img/background-form.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      padding: 1.198vw 1.302vw 1.563vw 1.979vw;
      .form__title {
        font-family: "Oswald";
        font-style: normal;
        font-weight: 700;
        font-size: 0.938vw;
        line-height: 1.406vw;
        text-transform: uppercase;
        color: #302f2f;
      }
      .required {
        margin: 1.146vw 0 0 0;
        width: 100%;
        height: 2.292vw;
        border-radius: 0;
        border: none;
        border-bottom: 0.052vw solid #302f2f;
        font-family: "Barlow" !important;
        font-style: normal !important;
        font-weight: 500;
        font-size: 0.833vw !important;
        line-height: 0.99vw !important;
        color: rgb(48, 47, 47) !important;
        transition: 0.3s;
        &:focus {
          transition: 0.3s;
          border-bottom: 0.052vw solid #ff4cbd;
        }
      }
      .button {
        margin: 1.042vw 0 0 0;
        width: 5.417vw;
        height: 2.083vw;
        background: #ff4cbd;
        border-radius: 0.313vw;
        border: none;
        font-family: "Oswald";
        font-style: normal;
        font-weight: 600;
        font-size: 0.781vw;
        line-height: 1.146vw;
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #ffffff;
        transition: 0.3s;
        &:hover {
          transform: scale(1.05);
          transition: 0.3s;
        }
      }
    }
    .social {
      display: flex;
      align-items: center;
      gap: 1.563vw;
      position: absolute;
      right: 21.458vw;
      top: 38.021vw;
      a {
        transition: 0.3s;
        img {
          width: 2.708vw;
        }
        &:hover {
          transform: scale(1.05);
          transition: 0.3s;
        }
      }
    }
  }
}
@media (min-aspect-ratio: 1920/970) and (min-width: 1025px) {
  body {
    overflow-y: auto;
    .wrapper {
      width: 100vw;
      height: 50.521vw;
    }
  }
}
@media (max-width: 1024px) {
  body {
    .wrapper {
      background-image: url(../img/background-tablet.webp);
      .smoke1 {
        width: 595px;
        height: 248px;
        left: -8px;
        top: 229px;
      }
      .smoke2 {
        width: 441px;
        height: 146px;
        left: 60px;
        top: 445px;
      }
      .smoke3 {
        top: 70px;
        right: 40px;
        width: 361px;
        height: 174px;
      }
      .smoke4 {
        height: 300px;
      }
      .water {
        background-image: url(../img/water-tablet.webp);
        background-size: 2777px 472px;
        width: 5554px;
        height: 472px;
        bottom: -221px;
        animation: 20s water-tablet linear infinite;
      }
      .header__logo {
        left: 40px;
        top: 40px;
        gap: 8px;
        img {
          width: 181px;
        }
      }
      .title {
        left: 40px;
        top: 273px;
        width: 604px;
        gap: 38px;
        h1 {
          font-size: 30px;
          line-height: 40px;
        }
        h2 {
          padding: 0 0 0 61px;
          width: 270px;
          font-size: 24px;
          line-height: 32px;
          a {
            width: 116px;
            height: 28px;
            border: 0.769231px solid rgba(255, 77, 190, 0.5);
            border-radius: 6.15385px;
            span {
              margin: 0 0 3px 0;
            }
          }
        }
      }
      .population {
        right: 40px;
        top: 86px;
        .population__top-block {
          gap: 15px;
          strong {
            margin: 6px 0 0 0;
            font-size: 52px;
            line-height: 58px;
          }
          span {
            width: 97px;
            height: 40px;
            border-width: 0px 1px;
            border-style: solid;
            border-radius: 8px;
            font-size: 19.6981px;
            line-height: 29px;
          }
        }
        .population__bottom-block {
          margin: 16px 0 0 0;
          width: 350px;
          span {
            font-size: 19.6981px;
            line-height: 30px;
          }
        }
      }
      .form {
        top: 485px;
        right: 40px;
        width: 373px;
        height: 226px;
        padding: 23px 25px 29px 38px;
        .form__title {
          font-size: 18px;
          line-height: 27px;
        }
        .required {
          margin: 22px 0 0 0;
          height: 44px;
          border-bottom: 1px solid #302f2f;
          font-size: 16px !important;
          line-height: 19px !important;
        }
        .button {
          margin: 20px 0 0 0;
          width: 104px;
          height: 40px;
          border-radius: 6px;
          font-size: 15px;
          line-height: 22px;
        }
      }
      .social{
        gap: 26px;
        right: 40px;
        top: 391px;
        a{
          img{
            width: 45px;
          }
        }
      }
    }
  }
  .mce_inline_error {
    font-size: 13px !important;
    line-height: 17px !important ;
  }
  .response{
    font-size: 13px !important;
    line-height: 17px !important;
  }
}
@media (min-aspect-ratio: 1024/768) and (max-width: 1024px) {
  body {
    overflow-y: auto;
    .wrapper {
      height: 768px;
    }
  }
}
@media (max-width: 768px) {
  body {
    .wrapper {
      .smoke1 {
        width: 590px;
        height: 208px;
        left: 10px;
        top: 411px;
      }
      .smoke2 {
        width: 407px;
        height: 135px;
        left: 57px;
        top: 605px;
      }
      .smoke3 {
        width: 361px;
        height: 174px;
        left: 367px;
        top: 70px;
      }
      .smoke4 {
        bottom: 0;
        height: 327px;
        background: linear-gradient(
          180deg,
          rgba(10, 11, 96, 0) 0%,
          #0a0b60 100%
        );
      }
      .water {
        bottom: -145px;
      }
      .title {
        top: 433px;
        h2 {
          width: 515px;
        }
      }
      .population {
        top: 97px;
      }
      .form {
        top: auto;
        bottom: 40px;
        right: 40px;
      }
      .social{
        left: 40px;
        right: auto;
        bottom: 61px;
        top: auto;
      }
    }
  }
}
@media (min-aspect-ratio: 768/1024) and (max-width: 768px) {
  body {
    overflow-y: auto;
    .wrapper {
      height: 1024px;
    }
  }
}
@media (max-width: 640px) {
  body {
    background-color: #0a0b60;
    overflow-y: auto;
    .wrapper {
      background: url(../img/background-mobile.webp);
      background-size: 100vw auto;
      height: 1090px;
      background-repeat: no-repeat;

      .smoke1 {
        width: 360px;
        height: 237px;
        left: -6px;
        top: 190px;
      }
      .smoke2 {
        width: 334px;
        height: 144px;
        left: 3px;
        top: 414px;
      }
      .smoke3 {
        width: 100vw;
        height: 110.615vw;
        background: #0a0b60;
        bottom: auto;
        left: 0;
        top: 153vw;
        border-radius: 0;
        filter: none;
      }
      .smoke4 {
        height: 42.933vw;
        left: 0px;
        top: 111vw;
        background: linear-gradient(
          180deg,
          rgba(10, 11, 96, 0) 0%,
          #0a0b60 100%
        );
      }
      .water {
        background-size: 366.563vw 48.304vw;
        top: 103vw;
        width: 733.125vw;
        height: 48.304vw;
        animation: 20s water-mobile linear infinite;
      }
      .header__logo {
        left: 15px;
        top: 25px;
      }
      .title {
        top: 203px;
        left: 15px;
        width: 345px;
        gap: 30px;
        h1 {
          font-size: 26px;
          line-height: 34px;
          span {
            br {
              display: block;
            }
          }
        }
        h2 {
          padding: 0;
          width: 345px;
          font-size: 20px;
          line-height: 28px;
          a {
            width: 97px;
          }
        }
      }
      .population {
        top: 604px;
        left: 50%;
        width: 356px;
        padding: 0 0 0 12px;
        transform: translateX(-43%);
        z-index: 2;
        .population__top-block {
          width: min-content;
          strong {
            margin: 0;
            font-size: 36px;
            line-height: 50px;
          }
          span {
            margin: 9px 0 0 0;
            width: 82px;
            height: 34px;
            font-size: 16px;
            line-height: 24px;
          }
        }
        .population__bottom-block {
          margin: 11px 0 0 0;
          width: 316px;
          span {
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
      .form {
        top: auto;
        bottom: 135px;
        width: 356px;
        height: 216px;
        left: 50%;
        transform: translateX(-50%);
        padding: 23px 24px 19px 36px;
        .form__title {
          font-size: 17px;
          line-height: 25px;
        }
        .required {
          margin: 24px 0 0 0;
          height: 44px;
          font-size: 16px !important;
          line-height: 19px !important;
        }
        .button {
          width: 104px;
          height: 40px;
          font-size: 14px;
          line-height: 21px;
        }
      }
      .social{
        left: 50%;
        transform: translateX(-50%);
        bottom: 44px;
      }
    }
  }
}

.mce_inline_error {
  background: none !important;
  color: #ff0000 !important;
  font-family: "Barlow" !important;
  font-style: normal !important;
  font-weight: 500 !important;
  margin: 0 !important;
  transition: 0.3s !important;
  padding: 0 !important;
}
.response {
  color: #ff0000 !important;
  font-family: "Barlow" !important;
  font-style: normal !important;
  font-weight: 500 !important;
 
}
@media (min-width: 1025px){
.mce_inline_error {
  font-size: 0.677vw !important;
  line-height: 0.885vw !important;
}
.response {
  font-size: 12.998px !important;
  line-height: 0.885vw !important;
}
}
